.cart-header{
  text-align: center;
    /* margin: .5rem; */
    font-size: 1.4rem;
    background: var(--in);
    color: white;
    padding: .5rem;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
}

.cart-table {
  width: 98%;
  border-collapse: collapse;
  margin: auto;
}

.cart-table th,
.cart-table td {
  /* border: 1px solid #ddd; */
  padding: 4px;
  text-align: left;
}

.cart-table th {
  /* background-color: #f2f2f2; */
  color: var(--yellow);
  text-align: center;
}

.cart-table img {
  width: 50px;
  height: 42px;
  border-radius: 2rem;
  display: flex;
  margin: auto;
}
.nettotal{
  font-weight: 800;
  text-align: center !important;
  font-size: 1rem;
  border: none !important;
  background: var(--out);
  color: var(--yellow);
  border-radius: 2rem;
  box-shadow: 0px 1px 7px 3px var(--in);
  margin-top: 1rem;
}
.cart-navigation-buttons {
  justify-content: space-between;
  display: flex;
  margin: 2rem 1rem;
  padding-bottom: 2rem;

}
.back-btn {
  background-color: var(--bg);
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-weight: 800;
  color: white;
}
.next-btn {
  background-color: var(--yellow);
  color: white;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-weight: 800;
}
.btnn{
  background: #198754;
  color: white;
  border-radius: 1rem;
  font-weight: 700;
}
.cart-item-name{
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 0.8rem;
}
.cart-item-quantity{
  background: var(--in);
  color: var(--yellow);
  font-size: 1rem;
  font-weight: 700;
}
.cart-item-total{
  text-align: left;
  font-weight: 700;
  padding-right: 0.5rem;
}
.delivery-row{
  text-align: left;
  font-weight: 500;
}
.Kilometer{
  text-align: center;
  padding-left: 2rem;
  font-weight: 700;
}
.Delivery-amount{
  font-weight: 700;
  text-align: right !important;
  padding-right: 1.5rem;
}