.custom-navbar {
  padding: 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #0f172b;
  box-shadow: 0px 3px 4px 0px black;
}

.custom-text {
  color: white !important; /* Custom text color */
}

.custom-navbar .navbar-toggler,
.custom-navbar .navbar-toggler-icon {
  /* border-color: whitesmoke; */
  color: var(--out);
  font-size: 1rem;
}

.custom-navbar .navbar-brand {
  color: #fea116 !important; /* Custom brand color */
  margin: 0;
  font-weight: bold;
}
.search {
  width: 50%;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.btn {
  background-color: var(--out);
  color: white;
}

.search-container input {
  margin: 0;
  font-size: 0.8rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search-icon-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.form-control {
  border: 2px solid var(--out);
  border-radius: 2rem;
  background: #eee;
  padding: 0.3rem.5rem !important;
}
/* input::placeholder {
  color: var(--out); 
  opacity: 1;
} */

input:focus::placeholder {
  color: var(--out); /* Optional: Change color when input is focused */
}
.search-input {
  flex-grow: 1;
  margin-left: 1rem;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link.active {
  font-weight: 800;
  text-decoration: underline;
}

.search {
  display: none;
}

@media (max-width: 768px) {
  .d-flex-search {
    display: none;
  }
  .search {
    display: block;
  }
}

/* Modal */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.custom-modal-message {
  margin-bottom: 20px;
  font-size: 16px;
}

.custom-modal-actions {
  display: flex;
  justify-content: space-between;
}

.custom-modal-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f0f0f0;
  color: #333;
}

.confirm-button {
  background-color: #e74c3c;
  color: #fff;
}

.custom-modal-button:hover {
  opacity: 0.9;
}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
  box-shadow: 0px 2px 15px 5px saddlebrown;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #222;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-theme {
  background-color: #121212;
  color: white;
}

.theme-mode {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
