a {
  text-decoration: none !important;
}
:root {
  --bg: #d32e2e;
  --out: linear-gradient(
    to right,
    #1a1a1a 0%,
    #111111 40%,
    #000000 100%
  );
  --in: linear-gradient(
    to right,
    #000000 0%,
    #111111 40%,
    #1a1a1a 100%
  );;
  --light: #edf2f7;
  --yellow: #fea116;
  background: var(--in);
}
/* .main-content {
  margin-bottom: 4rem;
} */

body {
  background-color: var(--out) !important;
}
body.dark-theme {
  background-color: var(--light) !important; /* Dark background */
  color: black !important; /* Light text */
}
.menu-items {
  background: var(--in);
  margin-bottom: 5rem;
}
.menu-item {
  background: var(--out);
  /* margin: 5rem .3rem 1rem; */
  border-radius: 1rem;
}
.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}
.hr {
  margin: 0.3rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
.product-details {
  flex: 1.1;
  margin-right: 20px;
}

.add-to-cart {
  flex: 1;
  text-align: center;
}

.add-to-cart img {
  width: 6rem;
  height: 5rem;
  border-radius: 1rem;
}

.description {
  font-size: 0.8rem;
}
.add-btn {
  box-shadow: 1px 0px 3px 3px var(--in);
  width: fit-content;
  align-items: center;
  margin: -1rem auto 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  color: var(--yellow);
  border-radius: 25px;
}
.add-btn button {
  color: var(--in);
  font-weight: 800;
  padding: 5px 20px;
  font-size: 1.2rem;
  background: #eee;
  border-radius: 25px;
}
.added {
  border: none;
}
.quantity-update {
  border: 1px solid var(--yellow);
  background: var(--yellow);
  width: fit-content;
  align-items: center;
  margin: -1rem auto 0;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  color: whitesmoke;
}
.btn {
  color: white;
}

.cust {
  color: grey;
  margin: -0.5rem auto 0 0;
}

/* -------------------------------------Header Css------------------------------------ */

.header {
  background-color: var(--yellow);
  border-radius: 0 0 1rem 1rem;
  color: whitesmoke;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.headername {
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}
.chat {
  text-align: center;
  font-weight: 700;
  background-color: whitesmoke;
  color: var(--yellow);
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid darkgoldenrod;
  box-shadow: 3px 2px 3px 0px black;
}
.img img {
  height: 2.3rem;
  width: 2.3rem;
  box-shadow: -2px 1px 2px 2px black;
  border-radius: 10rem;
}
/* #Simple_Pizza{
  margin-top: 4rem;
} */
/* -------------------------------------------------search-icon -------------------------------------------------- */

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.search-icon {
  font-size: 2.7rem;
  position: fixed;
  right: 10px;
  bottom: 2rem;
  color: white;
  background: var(--yellow);
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 1000; /* Ensure it stays on top */
  animation: pulsate 1s infinite; /* Apply the pulsate animation */
}
.search-input {
  position: absolute;
  top: 45px;
  width: 90%;
  /* margin: auto; */
  padding: 8px 12px;
  /* margin-left: 5%; */
  border: 2px solid var(--yellow);
  box-shadow: 2px 2px 6px 2px var(--yellow);
  border-radius: 4px;
  font-size: 14px;
}

.menu-btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
  background: var(--in);
  color: white;
  box-shadow: 0px -3px 4px 0px black;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 0.3s ease;
  z-index: 10;
  border-radius: 1rem 1rem 0 0;
}

/* Add this new rule */
.menu-btn-container.footer-visible {
  bottom: 11vh; /* Adjust the height value according to the footer's height */
}

.menu-items.footer-visible {
  margin-bottom: 10rem; /* Increase when footer is visible */
}
.menu-btn {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  background: var(--out);
  color: white;
  padding: .5rem;
  border-radius: 0.5rem;
  margin: 0;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 4px 2px black;
}

.menu-search {
  flex-grow: 1;
  padding:  .5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: var(--out);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0px 4px 4px 2px black;
}

.menu-search:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}
.close-btn {
  position: absolute;
  top: -10px;
  /* right: 81px; */
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  z-index: 10000;
}

.menu-search:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.card-body {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 800;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--yellow);
}

.search-results {
  margin-top: 3rem;
}

.card img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background: black;
}

.outer-card {
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  background: var(--in);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 50vh;
  box-shadow: 2px -2px 9px 2px black;
  padding: 1rem 0;
  scrollbar-width: none;
  border-radius: 1rem;
}

.outer-card a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category-card {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.outer-card .category-card h2 {
  margin-left: 1rem;
  text-align: left;
  background: none;
  border: none;
  /* margin: 0; */
  color: white;
}

.outer-card .category-card h3 {
  margin-right: 1rem;
  color: white;
}

.leftarrow {
  z-index: 1001;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  color: var(--yellow);
}

--------------------------------loading--------------------------------------
  .lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  position: fixed;
  top: 44%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: var(--yellow);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.loading {
  position: absolute;
  top: 45%;
  left: 25%;
}

.table-info {
  color: var(--yellow) !important;
  text-align: center;
  background: var(--in);
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 0 0 1rem 1rem;
  font-family: initial;
}
.not-found{
  color: white;
  text-align: center;
  margin: auto;
}
.not-found img{
  width: 60%;
}