.carousel-indicators{
  bottom: -34px;
}
.carousel-indicators [data-bs-target] {
background-color: whitesmoke;
}
.carousel-caption {
bottom: -14px;
}
.carousel-caption title{
  font-weight: 700;
  }
  .carousel-inner img{
      height: 35rem;
      margin: 6rem auto 1rem;
      box-shadow: 0px 2px 17px black;
      border-radius: 2rem;
      width: 90%;
      padding: .5rem;
  }
  @media (max-width: 499px) {
      .carousel-inner img{
          height: 15rem;
      }
  } 
  @media (min-width: 500px) {
    .carousel-inner img{
        height: 18rem;
    }
} 
@media (min-width: 768px) {
  .carousel-inner img{
      height: 22rem;
  }
  .carousel-indicators{
    display: none;
  }
} 
@media (min-width: 891px) {
  .carousel-inner img{
      height: 26rem;
      /* padding: 1rem;
      border-radius: 2rem;
      margin: 3rem 4rem 4rem 0; */
  }
} 
    .carousel-indicators button {
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      margin: 0 5px;
      opacity: 0.5;
      transition: opacity 0.3s;
    }
    
    .carousel-indicators button.active {
      opacity: 1;
    }
    .shop{
      width: 100%;
      height: 100%;
      padding: 1rem;
      margin-top: 2rem;
    }

    /* src/WhatsAppButton.css */
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 2rem; /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  background-color: #25D366; /* WhatsApp green */
  color: white;
  border-radius: 50%;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 24px;
  z-index: 1000; /* Ensure it stays on top */
  animation: pulsate 1s infinite; /* Apply the pulsate animation */
  padding: .3rem;
}

/* Optional: Adjust for smaller screens */
@media (max-width: 600px) {
  .whatsapp-button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    left: 8px;
  }
}

.menu-button {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--in);
  border-radius: 30px;
  box-shadow: 3px 3px 4px 2px var(--out)
}

.menu-button:hover {
  background-color: var(--out); /* Customize hover effect */
}
